.shareYourHomeTitle, .comingSoon {
  margin: 2rem 0 1rem 0;
}

section.rowSection > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.formTitle {
  margin-bottom: 1rem;
}

.paymentShareTitle {
  margin: 3rem 0 1rem 0;
}

.paymentShareTitle, .shareYourHomeTitle {
  max-width: 60%;
}

.framework {
  max-width: 70%;
}

.billingImage {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  display: flex;
}

.comingSoon, .formTitle {
  max-width: 90%;
}

@media screen and (min-width: 768px) {
  .shareYourHomeTitle {
    width: max-content;
  }

  section.rowSection {
    flex-direction: row;
  }
  
  section.rowSection:nth-child(1) {
    flex-direction: row-reverse;
  }

  section.rowSection > img {
    width: 50%;
  }
  
  section.rowSection > div {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    padding: 0 1.5rem;
    width: 50%;
  }

  .form {
    width: 90%;
  }
}
