.shareYourHomeTitle,
.comingSoon > h3 {
  margin: 2rem 0 1rem 0;
}

section.rowSection > div, .framework, .comingSoon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.formTitle {
  margin-bottom: 1rem;
}

.paymentShareTitle {
  margin: 3rem 0 1rem 0;
}

.paymentShareTitle, .shareYourHomeTitle {
  max-width: 60%;
}

.framework > h3 {
  max-width: 70%;
  margin-bottom: 1rem;
}

.billingImage {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  display: flex;
}

.comingSoon > h3, .formTitle {
  max-width: 90%;
}

@media only screen and (min-width: 768px) {
  .shareYourHomeTitle {
    width: max-content;
  }

  section.rowSection {
    flex-direction: row;
    align-items: flex-start;
  }
  
  section.rowSection:nth-child(1) {
    flex-direction: row-reverse;
  }

  section.rowSection > img {
    width: 50%;
  }
  
  section.rowSection > div {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    padding: 0 1.5rem;
    width: 50%;
  }

  .form {
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .billingImage {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
    margin: 3rem 0 2rem 0;
  }

  .shareYourHomeTitle, .paymentShareTitle, .framework > h3, .comingSoon > h3 {
    font-size: 1.6rem;
  }

  .paymentShareTitle {
    max-width: 100%;
    margin: 0 0 1rem 0;
  }

  .framework, .comingSoon {
    width: 80%;
  }

  section.rowSection:nth-child(5) > img {
    padding: 0 1rem;
  }

  section.rowSection:nth-child(5) > div {
    width: 60%;
  }
}
