.headerContainer {
  background-image: url('../../assets/images/header.svg'), var(--overlay);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  height: 85vh;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: max-content;
}

.buttonContainer {
  width: 234px;
  margin-top: 1rem;
  height: max-content;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.link > img {
  margin-right: 16px;
}
