.footerContainer {
  align-items: center;
  text-align: center;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footerContainer > hr {
  margin: 1rem 0;
  border-bottom: none;
}

.footerHeader {
  margin: 1.5rem 0;
}

.button {
  width: 304px;
  background-color: var(--secondary);
  justify-content: space-evenly;
  height: 4rem;
}

.button > div {
  text-align: start;
}

.footerContainer > img, .footerContainer > a {
  margin: 1rem;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 65%;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  width: 167px;
  margin: 1rem;
}

.copyright {
  opacity: 0.6;
  text-align: start;
} 
